* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;

}
/*
    The top bar
*/
.container{
    display: flex;    
}
.nav{
    padding: 20px;
    color: black;
}
.bar-icon{
    padding-right: 30px;
}
.search{
    padding-right: 30px;
}
.main-site{
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    color: black;
    text-decoration: none;
    
}
.middle{
    margin-left: 300px;
    float: right;
}
.subscribe{
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(50, 104, 145);
    background-color: #5995DA;
    padding: 5px;
    text-decoration: none;
    border: 2px solid #5D6063;
    margin: 10px;
    border-radius:5px;
}
.login{
    position: absolute;
    top: 0;
    right: 180px;
    color: rgb(50, 104, 145);
    background-color: #5995DA;
    text-decoration: none;
    padding:5px;
    border: 2px solid #5D6063;
    margin: 10px;
    border-radius:5px;
}

/*
    the body section

*/
.content{
    width: 900px;
    margin: 0 auto;
}
.topic{
    clear: both;
    text-align: center;
    padding-top: 0;
}
.photo{
    width: 100%;
}
.main-text{
    padding-top: 30px;
    width: 75%;
    margin: 0 auto;
}
.descriptions{
    float: left;
    padding: 10px;
    margin: 10px;
}
.social-media-links{
    float: right;
    
}
.social-media-item{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
  
}
.social-media-item li{
    padding: 10px;
}
.text-content{
    clear: both;
}
.text-content p{
    margin: 15px;
}
.text-content1{
    padding: 10px;
}
.explanations{
    width: 900px;
    margin: 0 auto;
    padding-top: 30px;    
}
.explanations p{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.item{
    overflow: hidden;
    background-color: white;
}

.column{
    float:left;
    width: 23%;
    margin: 5px ;
    height: 390px;
    background-color: white; 
}
.image1{
    float:left;
    width: 150px;
    height: 110px;
    margin: 25px;
    background-color: white;
}
.photo-ex{
    width: 150px;
    height: 100px;
}
.telescope{
    width: 100%;
    height:50%;

}
.readmore{
    color: white;
    background-color: blue;
    padding: 15px;
    text-decoration: none;
    border: 2px solid grey;
    border-radius:5px;
}

.column1 {
    float: left;
    width: 75%;
    padding: 10px;

}
.column2 {
    float: left;
    width: 25%;
    padding: 10px;

  }
  .other-news li{
      list-style-type: none;
      padding: 10px;
      color:black;
  }
  .other-news a{
    list-style-type: none;
    padding: 10px;
    color:black;
    text-decoration: none;
}
  .items1{
      float: left;
      width: 25%;
      margin: 20px 1.15%;
      height: 160px;
      background-color: white;
      
  }
.down{
    float: left;
}
  
 .row1{
     background-color: white;

 }
 .column3{
    float: left;
    width: 15%;
    padding: 10px;
    background-color: white;
    

 }
ul.info-list{
    list-style-type: none;
 }

/**/



/*
    The footer section
*/
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;

}