* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
    The top bar
*/
.container{
    display: flex;    
}
.nav{
    padding: 20px;
    color: black;
}
.bar-icon{
    padding-right: 30px;
}
.search{
    padding-right: 30px;
}
.main-site{
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    color: black;
    text-decoration: none;
    
}
.middle{
    margin-left: 300px;
    float: right;
}
.subscribe{
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(50, 104, 145);
    background-color: #5995DA;
    padding: 5px;
    text-decoration: none;
    border: 2px solid #5D6063;
    margin: 10px;
    border-radius:5px;
}
.login{
    position: absolute;
    top: 0;
    right: 180px;
    color: rgb(50, 104, 145);
    background-color: #5995DA;
    text-decoration: none;
    padding:5px;
    border: 2px solid #5D6063;
    margin: 10px;
    border-radius:5px;
}

/*
    the body section

*/
.content{
    width: 900px;
    margin: 0 auto;
}
.topic{
    clear: both;
    text-align: center;
    padding-top: 0;
}
.photo{
    width: 100%;
}
.main-text{
    width: 75%;
    margin: 0 auto;
}

/*
    The footer section
*/
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;

}